<p>Dear <%= @first_name %> thank you for contacting us. Someone will get back to you very soon</p>
<hr>
<p>This is the message we received</p>
<ul>
  <li>First Name: <%= @first_name %></li>
  <li>Last Name: <%= @last_name %></li>
  <li>Email: <%= @email %></li>
  <li>Message: <%= @message %></li>
</ul>