<h1>Listing Resume</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
      <% if is_admin? %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @resume_entries.each do |resume_entry| %>
      <tr>
        <td><%= resume_entry.title %></td>
        <td><%= resume_entry.body %></td>
        <td><%= resume_entry.start_date.try(:strftime, '%b, %Y') %></td>
        <td><%= resume_entry.end_date.try(:strftime, '%b, %Y') %></td>
        <td><%= link_to 'Show', resume_entry %></td>
        <% if is_admin? %>
        <td><%= link_to 'Edit', edit_resume_entry_path(resume_entry) %></td>
        <td><%= link_to 'Destroy', resume_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if is_admin? %>
<%= link_to 'New Resume entry', new_resume_entry_path %>
<% end %>
