<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @resume_entry.title %>
</p>

<p><strong>Start Date:</strong> <%= @resume_entry.start_date.try(:strftime, '%b, %Y') %></p>
<p><strong>End Date:</strong> <%= @resume_entry.end_date.try(:strftime, '%b, %Y') %></p>

<p>
  <strong>Body:</strong>
  <%= @resume_entry.body %>
</p>

<% if is_admin? %><%= link_to 'Edit', edit_resume_entry_path(@resume_entry) %> | <% end %>
<%= link_to 'Back', resume_entries_path %>
